<div class="container pt-3 align-items-center mt-4 mb-4 " >
  <mat-card class="text-white w-100" >
    <mat-card-header class="pt-3" style="background-color:#0B5BE3 ;">
      <mat-card-title>
        SING IN
      </mat-card-title>
    </mat-card-header>

    <mat-card-content  class="p-3" style="background-color:#009EFB ">


      <form [formGroup]="loginForm" (ngSubmit)="signIn()">


        <div class="form-group">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="text"
            [ngClass]="{
              'is-valid': loginForm.get('email').valid,
              'is-invalid': loginForm.get('email').invalid  && (loginForm.get('email').touched || loginForm.get('email').dirty)
            }"
            class="form-control"
            id="email"
          >

          <div
            *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched || loginForm.get('encryptedPassword').dirty)"
            Class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('email').getError('required')">Email is Required !</div>
          </div>
        </div>

        <div class="form-group">
          <label for="encryptedPassword">Password</label>
          <input
            formControlName="encryptedPassword"
            type="password"
            [ngClass]="{
              'is-valid': loginForm.get('encryptedPassword').valid,
              'is-invalid': loginForm.get('encryptedPassword').invalid  && (loginForm.get('encryptedPassword').touched || loginForm.get('encryptedPassword').dirty)
            }"
            class="form-control"
            id="encryptedPassword"
          >

          <div
            *ngIf="loginForm.get('encryptedPassword').invalid && (loginForm.get('encryptedPassword').touched || loginForm.get('encryptedPassword').dirty)"
            Class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('encryptedPassword').getError('required')">Password is Required !</div>
            <div *ngIf="loginForm.get('encryptedPassword').getError('minlength')">Password was to be 8 Caracters !</div>
          </div>
        </div>

  <mat-card-actions  >
    <div class="row ">
        <button [disabled]="loginForm.invalid" mat-dialog-close (click)="signIn()" style="background-color: #0B5BE3; color: white " class="btn col-4 offset-7 ">SING IN</button>
    </div>
  </mat-card-actions>

      </form>


    </mat-card-content>
  </mat-card>
  </div>
