<div class="container pt-3 align-items-center mt-4 mb-4 " >
  <div class="text-white w-100" >
    <div class="pt-3" style="background-color:#0B5BE3 ;">
      <div>
        SING IN
      </div>
    </div>>

    <div  class="p-3" style="background-color:#009EFB ">


      <form [formGroup]="loginForm" (ngSubmit)="signIn()">


        <div class="form-group">
          <label for="email">Email</label>
          <input
            formControlName="email"
            type="text"
            [ngClass]="{
              'is-valid': loginForm.get('email').valid,
              'is-invalid': loginForm.get('email').invalid  && (loginForm.get('email').touched || loginForm.get('email').dirty)
            }"
            class="form-control"
            id="email"
          >

          <div
            *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched || loginForm.get('encryptedPassword').dirty)"
            Class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('email').getError('required')">Email is Required !</div>
          </div>
        </div>

        <div class="form-group">
          <label for="encryptedPassword">Password</label>
          <input
            formControlName="encryptedPassword"
            type="password"

            class="form-control"
            id="encryptedPassword"
          >


        </div>

  <div>
    <div class="row ">
        <button  mat-dialog-close (click)="signIn()" style="background-color: #0B5BE3; color: white " class="btn col-4 offset-7 ">SING IN</button>
    </div>
  </div>

      </form>


    </div>
  </div>
  </div>
