<h1 style="text-align: center;">liste des commandes</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">prix</th>
            <th scope="col">produit</th>
            <th scope="col">adresse</th>
            <th scope="col">livreur</th>
            <th scope="col">etat</th>
            <th scope="col">changer d'etat</th>
        </tr>

    </thead>
    <tr scope="row" *ngFor="let l of listcommande">
        <td>{{l.id}}</td>
        <td>{{l.cout}}</td>
        <td>{{l.produit.codeBar}}</td>
        <td>{{l.adresse}}</td>
        <td >
          <l *ngIf="l.livreur==null">non affectee</l>
          <l *ngIf="l.livreur!=null">{{l.livreur.id}}</l>

        </td>
        <td >
          <l *ngIf="l.approuver==false && l.terminer== false" >en attente</l>
          <l *ngIf="l.approuver==true && l.terminer==false">en cours</l>
          <l *ngIf="l.approuver==true && l.terminer==true">livrée</l>
        </td>
        <td>
          <button *ngIf="!role && (l.approuver==false)" [routerLink]="['/detail',l.id]" type="button" class="btn btn-primary">approuver</button>
          <button *ngIf="role && l.terminer==false" class="btn btn-primary">terminer</button>
          <button *ngIf="l.approuver==true && l.terminer==true" class="btn btn-primary"
          (click)="supprimer(l)"
          >supprimer</button>
        </td>
    </tr>

</table>
