<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">nos produits</h2>
        </div>
    </div>
    <div *ngFor="let item of data" class="card">
        <div>
            <img src={{item.path}} t="Denim Jeans" style="width:100%">
            <h1>{{item.nom}}</h1>
            <p class="price">{{item.price}}</p>
            <p>color : {{item.color}}</p>
            <p>marque : {{item.shop.name}}</p>
            <a routerLink="/commande"><button> commander</button></a>
        </div>
    </div>
</div>