<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">nos produits</h2>
        </div>
    </div>
    <div *ngFor="let produit of produits" class="card">
        <div>
            <img src="{{produit.path}}" t="{{produit.nom}}" style="width:100%">
            <h1>{{produit.nom}}</h1>
            <p class="price">{{produit.price}}</p>
            <p>color : {{produit.color}}</p>
            <p>marque : {{produit.shop.name}}</p>
            <button [routerLink]="['/commande',produit.codeBar]">commander</button>
        </div>
    </div>
</div>
