<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
  <div class="container"><a class="navbar-brand" href="#page-top">TuniMall</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#boutique">boutiques</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#produit">nos produits</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">service </a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">a propos </a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#auto">login</a></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
  <div class="container">
      <div class="intro-text">
          <div class="intro-lead-in"><span>Bienvenu a notre e-mall!</span></div>
          <div class="intro-heading text-uppercase"></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#boutique">Commencer votre visite</a>
      </div>
  </div>
</header>
