<div class="vertical-menu">
    <a href="#users">users</a>
    <a href="#commandes">commandes</a>
    <a href="#ivreurs">Link 3</a>
    <a href="#shops">Link 4</a>
    <a href="#produits">Link 5</a>
</div>
<table id='users' style="width:100%">
    <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>sexe</th>
        <th>cin</th>
        <th>email</th>
        <th>username</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

</table>