<ul class="list-group">
    <li><a class="btn-primary" href="/admin#users">users</a></li>
    <li><a class="btn-primary" href="/admin#commandes">Commandes</a></li>
    <li><a class="btn-primary" href="/admin#complaints">Complaints</a></li>
    <li><a class="btn-primary" href="/admin#boutique">boutiques</a></li>
    <li><a class="btn-primary" href="/admin#produit">produit</a></li>
    <li class="btn-dark">
      <a
        *ngIf="authService.isAuthenticated()"
        class="nav-link"
        routerLinkActive="active text-primary"
        (click)="logout()"
      >
        Logout
      </a>
    </li>
</ul>
<div style="margin-left:10%;padding:1px 16px;height:1000px;">
  <section class="bg-light" id="users">
  <h1 style="text-align: center;">liste des utilisateurs</h1>
    <table class="table" id='users' style=" width:100% ">
        <thead class="thead-dark">
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>sexe</th>
                <th>cin</th>
                <th>email</th>
                <th>username</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let user of users ">
            <th>{{user.nom}}</th>
            <th>{{user.prenom}}</th>
            <th>{{user.sexe}}</th>
            <th>{{user.cin}}</th>
            <th>{{user.email}}</th>
            <th>{{user.username}}</th>
            <th>
                <button (click)="updateUser() "><a [routerLink]="['user/update']">update</a></button>
                <button><a>delete</a></button>
            </th>
        </tr>
    </table>
    <button [routerLink]="['admin/user/add']" type="submit">add user</button>
  </section>

    <section class="bg-light" id="commandes">
    <app-adcommande></app-adcommande>
    </section>

    <section class="bg-light" id="complaints">
    <app-admincomplaint></app-admincomplaint>
  </section>

  <section class="bg-light" id="boutique">
    <h1 style="text-align: center;">liste des boutiques</h1>
    <table class="table" id='boutiques' style=" width:100% ">
        <thead class="thead-dark">
            <tr>
                <th>nom</th>
                <th>path</th>
                <th>image</th>
            </tr>
        </thead>
        <tr *ngFor="let boutique of boutiques ">
            <th>{{boutique.nom}}</th>
            <th>{{boutique.path}}</th>
            <th>{{boutique.immage}}</th>
            <th>
                <button (click)="updateUBoutique() "><a [routerLink]="['boutique/update']">update</a></button>
                <button><a>delete</a></button>
            </th>
        </tr>
    </table>
    <button><a [routerLink]="['boutique/add']">add shop</a></button>
</section>

<section class="bg-light" id="produit">
<h1 style="text-align: center;">liste des produits</h1>
    <table class="table" id='produits' style=" width:100% ">
        <thead class="thead-dark">
            <tr>
                <th>nom</th>
                <th>type</th>
                <th>categorie</th>
                <th>price</th>
                <th>couleur</th>
                <th>quantite</th>
                <th>image</th>
                <th>codeBar</th>
                <th>shopNom</th>
            </tr>
        </thead>
        <tr *ngFor="let produit of produits ">
            <th>{{produit.nom}}</th>
            <th>{{produit.type}}</th>
            <th>{{produit.categorie}}</th>
            <th>{{produit.price}} DT</th>
            <th>{{produit.couleur}}</th>
            <th>{{produit.quantite}}</th>
            <th><img src="{{produit.image}}"></th>
            <th>{{produit.codeBar}}</th>
            <th>{{produit.shop.nom}}</th>

            <th>
                <button (click)="updateProduit() "><a [routerLink]="['boutique/update']">update</a></button>
                <button><a>delete</a></button>
            </th>
        </tr>
    </table>
    <button><a [routerLink]="['produit/add']">add produit</a></button>
    </section>
</div>
<!-- <table class="table ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col ">id</th>
            <th scope="col ">prix</th>
            <th scope="col ">produit</th>
            <th scope="col ">adresse</th>
            <th scope="col ">livreur</th>
            <th scope="col ">approuver</th>
            <th scope="col ">terminer</th>
        </tr>
    </thead>
    <tr scope="row " *ngFor="let l of commandes ">
        <td>{{l.id}}</td>
        <td>{{l.cout}}</td>
        <td>{{l.nom}}</td>
        <td>{{l.adresse}}</td>
        <td>{{l.livreur.nom}}</td>
        <td>{{l.approuver}}</td>
        <td>{{l.terminer}}</td>
    </tr>

    </table>-->
