<ul>
    <li><a class="active" href="admin/#users">users</a></li>
    <li><a href="admin/#commands">Commands</a></li>
</ul>
<div style="margin-left:10%;padding:1px 16px;height:1000px;">
    <table id='users' style=" width:100% ">
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>sexe</th>
            <th>cin</th>
            <th>email</th>
            <th>username</th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users ">
            <th>{{user.nom}}</th>
            <th>{{user.prenom}}</th>
            <th>{{user.sexe}}</th>
            <th>{{user.cin}}</th>
            <th>{{user.email}}</th>
            <th>{{user.username}}</th>
            <th>
                <button (click)="updateUser() "><a [routerLink]="['user/update']">update</a></button>
                <button><a>delete</a></button>
            </th>
        </tr>
    </table>
    <button [routerLink]="['admin/user/add']" type="submit">add user</button>
    <app-adcommande></app-adcommande>
</div>
<!-- <table class="table ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col ">id</th>
            <th scope="col ">prix</th>
            <th scope="col ">produit</th>
            <th scope="col ">adresse</th>
            <th scope="col ">livreur</th>
            <th scope="col ">approuver</th>
            <th scope="col ">terminer</th>
        </tr>
    </thead>
    <tr scope="row " *ngFor="let l of commandes ">
        <td>{{l.id}}</td>
        <td>{{l.cout}}</td>
        <td>{{l.nom}}</td>
        <td>{{l.adresse}}</td>
        <td>{{l.livreur.nom}}</td>
        <td>{{l.approuver}}</td>
        <td>{{l.terminer}}</td>
    </tr>

    </table>-->
