<div class="container">
  <div class="row">
      <div class="col-sm-4">
          <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/nour.jpg" />
              <h4>Nour</h4>
              <p class="text-muted">Back and Front end developer</p>
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/2.jpg" />
              <h4>Malek</h4>
              <p class="text-muted">Front end developer</p>
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/team/khaoula.jpg" />
              <h4>Khaoula</h4>
              <p class="text-muted">Front and Back end developer</p>
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
